body {
  margin: 0;
  padding: 0;
  font-family:
    Roboto,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
.navbar {
  width: 100%;
  height: 60px;
position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-content {
  width: 100%;
  max-width: 1450px;
  padding: 0 20px;
  display: flex;
}

.nav-items {
  width: 150px;
  height: 50px;
  margin-left: auto;
}
.nav-content ul {
  display: flex;
  list-style: none;
  gap: 10px;
  margin-left: auto;
}
.nav-content li {
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  height: 24px;
  width: 33.95px;
  padding-left: 6px;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-color: rgba(0, 0, 0, 0.87);
}
li:hover {
  text-decoration: underline;
}
.nav-img {
  width: 50px;
  height: 50px;
  display: flex;
  font-size: 30px;
  padding-top: 3px;

  padding-right: 0px;
  justify-content: center;
  align-items: center;
}

.main-content {
  width: 100%;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  
}
.google_logo {
  width: 272px;
  height: 92px;
  margin-top: 82px;
  margin-bottom: 30px;
}
.google_logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.search-box {
  height: 48px;
  width: 646px;
  background-color: white;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-radius: 40px;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  /* CSS rules here */
    .search-box{
          height: 48px;
  width: 546px;
  background-color: white;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-radius: 40px;
  display: flex;
  align-items: center;
    }
}
@media (max-width: 630px) {
  /* CSS rules here */
    .search-box{
          height: 48px;
  width: 500px;
  background-color: white;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-radius: 40px;
  display: flex;
  align-items: center;
    }
}
@media (max-width: 530px) {
  /* CSS rules here */
    .search-box{
          height: 48px;
  width: 300px;
  background-color: white;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-radius: 40px;
  display: flex;
  align-items: center;
    }
}
.search-box:hover,
.search-box:focus-within {
  box-shadow: 0 1px 10px rgba(32, 33, 36, 0.35);
}

#search-icon {
  font-size: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 20px;
  padding-right: 16px;
  color: rgb(129, 124, 124);
}
input {
  border: none;
  background-color: transparent;
  outline: none;
  width: 540px;
  padding: 2px 2px 1px;
  height: 20.2px;
}
input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: rgba(46, 42, 42, 0.77);
}
#microphone {
  width: 26px;
  font-size: 16px;
  height: 36px;
  display: flex;
  align-items: center;
  color: #716868;
  padding-left: 18px;
}
.search-btns {
  margin-top: 25px;
}
@media (max-width: 530px) {
  /* CSS rules here */
    .search-box{
          height: 48px;
  width: 300px;
  background-color: white;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-radius: 40px;
  display: flex;
  align-items: center;
    }
    .search-btns{
        display: flex;
        flex-direction: column;
        gap:10px;
    }
}
.search-btns button:hover {
  border: 1px solid lightgray;
  background-color: #f8f9fa;
  cursor: pointer;
}

.search-btns button {
  height: 40px;
  width: 130px;
  font-size: 14px;
  font-weight: 400;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  color: rgba(46, 42, 42, 0.77);
  background-color: #f2f3f4;
}
.search-btns button:hover {
  border: 1px solid lightgray;
}
